<% @jobs.each do |job| %>
  <tr>
    <td><%= job.job_number %></td>
    <td><%= job.salesman.name %></td>
    <td><%= job.customer_name %></td>
    <td><%= job.address %></td>
    <td><%= job.customer_phone %></td>
    <td><%= job.customer_email %></td>
    <td><%= number_to_currency(job.total_amount) %></td>
    <td><%= job.type_of_work %></td>
    <td><%= format_date(job.created_at)%></td>
    <td>
      <% if job.installed %>
        <%= format_date(job.install_date) %>
      <% else %>
        Not Installed
      <% end %>
    </td>
    <td>
      <%= link_to 'Show', job, class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_job_path(job), class: 'btn btn-secondary' %>
      <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'   %>
    </td>
  </tr>
<% end %>
