<h1><%= action_name.capitalize %>  Job</h1>

<%= form_with(model: @job, local: true, html: { multipart: true }) do |form| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :job_number %>
    <%= form.text_field :job_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :state %>
    <%= form.text_field :state, class: 'form-control' %>
  </div>

    <div class="form-group">
    <%= form.label :country %>
    <%= form.text_field :country, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :customer_phone %>
    <%= form.text_field :customer_phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :customer_email %>
    <%= form.email_field :customer_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :total_amount %>
    <%= form.number_field :total_amount, step: :any, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :type_of_work %>
    <%= form.text_field :type_of_work, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= form.label :files, "Upload Files" %>
  <%= form.file_field :files, multiple: true, class: "form-control" %>
</div>

  <%= form.submit class: 'btn btn-primary' %>
  <%= link_to 'Back', jobs_path, class: 'btn btn-secondary' %>
<% end %>
