<h1><%= action_name.capitalize %>  Job</h1>

<%= form_with(model: @job, local: true, html: { multipart: true }) do |form| %>

    <% if @job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
        <ul>
          <% @job.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<div class="form-group">
  <%= form.label :salesman_id, "Salesman" %>
  <%= form.collection_select :salesman_id, @salesmen, :id, :name_with_category, { prompt: "Select Salesman" }, { class: 'form-control' } %>
</div>


  <div class="form-group">
    <%= form.label :job_number %>
    <%= form.text_field :job_number, class: 'form-control' %>

  
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name, class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

<div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :state %>
    <%= form.text_field :state, class: 'form-control' %>
  </div>

    <div class="form-group">
    <%= form.label :country %>
    <%= form.text_field :country, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :customer_phone %>
    <%= form.text_field :customer_phone, class: 'form-control', pattern: '\d{3}-\d{3}-\d{4}', title: 'Phone number format: ###-###-####'  %>
  </div>

  <div class="form-group">
    <%= form.label :customer_email %>
    <%= form.email_field :customer_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :total_amount %>
    <%= form.number_field :total_amount, step: :any, class: 'form-control' %>
  </div>

<div class="form-group">
  <%= form.label :type_of_work, "Type of Work" %>
  <%= form.hidden_field :type_of_work, class: 'form-control', id: 'type_of_work_field' %>
</div>

<div class="form-group">
  <%= form.label :materials, "Materials (select all that apply)", class: "form-label" %><br>
  <div>
    <%= check_box_tag 'material_option', 'PVC', false, class: 'material-checkbox' %>
    <%= label_tag 'material_option', "PVC" %>
  </div>
  <div>
    <%= check_box_tag 'material_option', 'Aluminum', false, class: 'material-checkbox' %>
    <%= label_tag 'material_option', "Aluminum" %>
  </div>
  <div>
    <%= check_box_tag 'material_option', 'Wood', false, class: 'material-checkbox' %>
    <%= label_tag 'material_option', "Wood" %>
  </div>
  <div>
    <%= check_box_tag 'material_option', 'Chain Link', false, class: 'material-checkbox' %>
    <%= label_tag 'material_option', "Chain Link" %>
  </div>
</div>



  <div class="form-group">
  <%= form.label :files, "Upload Files" %>
  <%= form.file_field :files, multiple: true, class: "form-control" %>
</div>


  <%= form.submit class: 'btn btn-primary' %>
  <%= link_to 'Back', jobs_path, class: 'btn btn-secondary' %>
<% end %>

