<h1>Job Details</h1>

<p><strong>Job Number:</strong> <%= @job.job_number %></p>
<p><strong>Salesman:</strong> <%= @job.salesman.name %></p>
<p><strong>Customer Name:</strong> <%= @job.customer_name %></p>
<p><strong>Address:</strong> <%= @job.address %></p>
<p><strong>Customer Phone:</strong> <%= @job.customer_phone %></p>
<p><strong>Customer Email:</strong> <%= @job.customer_email %></p>
<p><strong>Total Amount:</strong> <%= number_to_currency(@job.total_amount) %></p>
<p><strong>Type of Work:</strong> <%= @job.type_of_work %></p>
<p><strong>Installed?</strong> <%= @job.installed %></p>
<p><strong>Install By:</strong> <%= @job.crew.present? ? @job.crew : 'Not assigned' %></p>
<p><strong>Install Date:</strong> <%= @job.install_date %></p>
<p><strong>Install Start Date:</strong> <%= @job.install_start_date %></p>
<p><strong>Install End Date:</strong> <%= @job.install_end_date %></p>

<%= link_to 'Edit', edit_job_path(@job), class: 'btn btn-primary' %>
<%= link_to 'Back', jobs_path, class: 'btn btn-secondary' %>
<%= form_with(url: job_path(@job), method: :delete, local: true) do |form| %>
          <% if @job.salesman == current_user %>
  <%= form.submit "Delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
  <%end%>
<% end %>
