<div class="sidebar">
  <h3>Appointments</h3>
  <button onclick="toggleNewAppointmentForm()" class="btn btn-primary">New Appointment</button>
  <div id="new-appointment-container" style="display: none;">
    <div class="modal-content">
      <h3>New Appointment</h3>
      <%= form_with(model: @appointment, url: appointments_path, local: true) do |form| %>
        <div class="form-group">
          <%= form.label :title, "Appointment Title" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :location, "Location" %>
          <%= form.text_field :location, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :start_time, "Start Time" %>
          <%= form.datetime_local_field :start_time, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :end_time, "End Time" %>
          <%= form.datetime_local_field :end_time, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :user_id, "Salesman" %>
          <%= form.collection_select :user_id, User.all, :id, :name, prompt: "Select Salesman", class: "form-control" %>
        </div>
        <div class="actions">
          <%= form.submit "Create Appointment", class: "btn btn-primary" %>
        </div>
      <% end %>
      <button onclick="toggleNewAppointmentForm()" class="btn btn-secondary">Cancel</button>
    </div>
  </div>

  <h4>Past Appointments</h4>
  <% if @past_appointments.present? && @past_appointments.any? %>
    <ul>
      <% @past_appointments.each do |appointment| %>
        <%= render partial: 'appointments/appointment', locals: { appointment: appointment } %>
      <% end %>
    </ul>
  <% else %>
    <p>No past appointments.</p>
  <% end %>

  <h4>Upcoming Appointments</h4>
  <% if @upcoming_appointments.present? && @upcoming_appointments.any? %>
    <ul>
      <% @upcoming_appointments.each do |appointment| %>
        <%= render partial: 'appointments/appointment', locals: { appointment: appointment } %>
      <% end %>
    </ul>
  <% else %>
    <p>No upcoming appointments.</p>
  <% end %>
</div>

<script>
  function toggleNewAppointmentForm() {
    var formContainer = document.getElementById('new-appointment-container');
    formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
  }
</script>
