<!-- app/views/appointments/new.html.erb -->
<h1 class="text-center">New Appointment</h1>

<div class="card mx-auto" style="width: 50%;">
  <div class="card-body">
    <%= form_with(model: @appointment, local: true) do |form| %>
      <% if @appointment.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
          <ul>
          <% @appointment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label 'Salesman' %>
        <%= form.collection_select :user_id, User.where(role: ['commercial_salesman', 'residential_salesman', 'admin']), :id, :name, { prompt: "Salesman" }, { class: "form-control", style: "height: calc(2.25rem + 2px); padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;" } %>
      </div>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :location %>
        <%= form.text_field :location, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :start_time %>
        <%= form.datetime_local_field :start_time, class: "form-control", step: 900 %>
      </div>

      <div class="form-group">
        <%= form.label :end_time %>
        <%= form.datetime_local_field :end_time, class: "form-control", step: 900 %>
      </div>

      <div class="text-center">
        <%= form.submit 'Create Appointment', class: "btn btn-primary" %>
        <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function enforce15MinuteIncrement(event) {
      const input = event.target;
      const date = new Date(input.value);
      const minutes = date.getMinutes();
      const roundedMinutes = Math.round(minutes / 15) * 15;
      date.setMinutes(roundedMinutes);
      input.value = date.toISOString().slice(0, 16);
    }

    const startTimeInput = document.querySelector('input[name="appointment[start_time]"]');
    const endTimeInput = document.querySelector('input[name="appointment[end_time]"]');

    startTimeInput.addEventListener('change', enforce15MinuteIncrement);
    endTimeInput.addEventListener('change', enforce15MinuteIncrement);
  });
</script>
