<h1>All Users</h1>

<%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary' if current_user.super_admin? %>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to 'Name', admin_users_path(sort: 'name') %></th>
      <th><%= link_to 'Email', admin_users_path(sort: 'email') %></th>
      <th><%= link_to 'Role', admin_users_path(sort: 'role') %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <% if current_user.super_admin? %>
            <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-secondary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
